{% extends "layouts/main.html" %}

{% block content %}  
      <h1>DNS Queries Made</h1>
      <p>
      Any DNS queries the IOT device has made will appear below
      </p>
      <table width="600" class="table table-striped">
      <thead>
         <tr>
            <th>DNS Name</th>
         </tr>
      </thead>
      <tbody class="data">
      {% for item in data %}
          <tr>
              <td>{{ item }}</td>
           </tr>
      {% endfor %}
      </tbody>
      </table>  
    <script src="/static/js/jons.js"></script>
    <script>renderIOTDNSNames();</script>
{% endblock %}